export LANGSMITH_TRACING="true"
export LANGSMITH_API_KEY="your_langsmith_api_key_here"
export LANGSMITH_PROJECT="default"
export GOOGLE_API_KEY="your_google_api_key_here"
export SERPAPI_API_KEY="your_serpapi_api_key_here"
